# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.tgz
*.bz2

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build/
dist/
nbproject/private/
*~

SHRDLU/BLOCKL
SHRDLU/BLOCKP
SHRDLU/CGRAM
SHRDLU/DATA
SHRDLU/DICTIO
SHRDLU/GINTER
SHRDLU/MORPHO
SHRDLU/NEWANS
SHRDLU/PLNR
SHRDLU/PROGMR
SHRDLU/SETUP
SHRDLU/SHOW
SHRDLU/SMASS
SHRDLU/SMSPEC
SHRDLU/SMUTIL
SHRDLU/SYSCOM
SHRDLU/THTRAC
code/

.etaoin_history
code.tar
